<div id="<%= dom_id storage %>">
  <p>
    <strong>Booked:</strong>
    <%= storage.booked %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= storage.book %>
  </p>

  <p>
    <strong>Available:</strong>
    <%= storage.available %>
  </p>
  <p>
    <strong>X:</strong>
    <%= storage.x %>
  </p>  
  <p>
    <strong>Y:</strong>
    <%= storage.y %>
  </p>  
  <p>
    <strong>Width:</strong>
    <%= storage.width %>
  </p>  
  <p>
    <strong>Height:</strong>
    <%= storage.height %>
  </p>
</div>
