<p style="color: green"><%= notice %></p>
<div class="d-flex flex-column justify-content-center align-items-center">
<h1 class="m-5">Storage at address</h1>
<dl>
    <dt class="red"></dt>
    <dd>Booked storages</dd>
    <dt class="yellow"></dt>
    <dd>Available storages</dd>
</dl>

<div id="storages" class="text-center mt-5 mb-5">
<i class="icon-arrow bi bi-arrow-90deg-right"></i>
<svg width="193" height="248" viewBox="0 0 193 248" fill="none" xmlns="http://www.w3.org/2000/svg">
  <%@storages.each do |storage| %>
      <%if storage.booked%>
        <rect  x="<%=storage.x%>" y="<%=storage.y%>" width="<%=storage.width%>" height="<%=storage.height%>" class="<%=storage.booked ? "booked" : storage.book ? "book" : storage.available ? "available" : "#C4C4C4"%>" /></a>

      <%else%>
          <%=link_to edit_storage_path(storage) do%>
        <rect  x="<%=storage.x%>" y="<%=storage.y%>" width="<%=storage.width%>" height="<%=storage.height%>" class="<%=storage.booked ? "booked" : storage.book ? "book" : storage.available ? "available" : "#C4C4C4"%>" stroke="black"/></a>
      <%end%>
      <%end%>
  
  <%end%>
  </svg>
</div>
<div id="storage"></div>


<%= link_to "New storage", new_storage_path %>

</div>
