<p style="color: green"><%= notice %></p>
<div class="d-flex flex-column justify-content-center align-items-center">
<h1 class="m-5">Address</h1>
<dl class='legend'>
    <dt class="red"></dt>
    <dd>Booked storages</dd>
    <dt class="yellow"></dt>
    <dd>Available storages</dd>
    <dt class="green"></dt>
    <dd>Your storage</dd>
</dl>
<%= turbo_frame_tag "edit-storage" %>

<div id="storages" class="text-center mt-5 mb-5">
<i class="icon-arrow bi bi-arrow-90deg-right"></i>
<svg width="193" height="248" viewBox="0 0 193 248" fill="none" xmlns="http://www.w3.org/2000/svg">
  <%@storages.each do |storage| %>
      <%if storage.booked%>
        <rect  x="<%=storage.x%>" y="<%=storage.y%>" width="<%=storage.width%>" height="<%=storage.height%>" class="<%=storage.booked ? "booked" : storage.book ? "book" : storage.available ? "available" : "#C4C4C4"%>" /></a>
        <text x="<%=storage.x%>" y="<%=storage.y+10%>"  font-size="10" fill="black"><%=storage.id%></text>
      <%else%>
        <%=link_to edit_storage_path(storage),data: { "turbo-frame": "edit-storage" } , class: "link-storage" do%>
        <rect  x="<%=storage.x%>" y="<%=storage.y%>" width="<%=storage.width%>" height="<%=storage.height%>" class="<%=storage.booked ? "booked" : storage.book ? "book" : storage.available ? "available" : "#C4C4C4"%>" stroke="black">text?</rect>
        <text x="<%=storage.x%>" y="<%=storage.y+10%>" font-size="10" fill="black"><%=storage.id%></text>
      <%end%>
      <%end%>
  
  <%end%>
  </svg>
</div>

<%#= link_to "New storage", new_storage_path %>


